:root {
  --primary-clr-dark: hsl(300, 43%, 22%);
  --primary-clr-light: hsl(333, 80%, 67%);
  --neutral-clr-dark: hsl(303, 10%, 53%);
  --neutral-clr-light: hsl(300, 24%, 96%);
  --neutral-clr: hsl(0, 0%, 100%);
  --fnt-main: 'League Spartan', sans-serif;
}

*, *::before, ::after {
  box-sizing: border-box;
}

body {
  background:
    url(../images/bg-pattern-top-desktop.svg) top left no-repeat,
    url(../images/bg-pattern-bottom-desktop.svg) bottom right no-repeat;
  font-family: var(--fnt-main);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  height: 100vh;
}


h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

p,
figure {
  margin: 0;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  -webkit-clip-path: inset(50%) !important;
  height: 1px !important;
  width: 1px !important;
  position: absolute !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  padding: 0 !important;
  margin: -1px !important;
}

